h1 {
    text-align: center;
    color: green;
}
ul {
    text-align: center;
}
p{
    margin-top: 38px;
    margin-bottom: 38px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
list {a {
    text-decoration: none; 
    padding: 5px 10px; 
    transition: background-color 0.3s ease; 
  }
  
  a:hover {
    background-color: blue;
    color: white; 
  }
  }